:root{
    -color-primario: #E31B9F;
    -fuente-cuerpo: "Open Sans", sans-serif;
}

body {
    background-color: #E4DDD3;
    display: flex;             /* Convierte al body en un contenedor flex */
    justify-content: center;   /* Centra el contenido horizontalmente */
    align-items: center;       /* Centra el contenido verticalmente */
    margin: 30px 0px;                 /* Elimina los márgenes por defecto */
}

.caja-blanca {
    border: 1px solid;
    border-radius: 30px;
    background-color: #FFFFFF;
    max-width: 80%;
    width: 100%;               /* Asegura que el div tome el ancho máximo permitido */
    max-width: 1200px;         /* Establece un ancho máximo fijo para evitar que se haga demasiado grande */
}


.seccion-info-producto{
    display: flex;
    flex-direction: column;
}

.columnas-info-producto {
    display: flex;
}

.images-producto {
    width: 60%; /* Ocupa el 70% del espacio */
    border: 1px solid;
}

.interac-producto {
    width: 40%; /* Ocupa el 30% del espacio */
    border: solid 1px;
}


.miniaturas{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.miniaturas img:hover{
    cursor: pointer;
    border: solid 1px #969696;
}


/* Contenedores de la interacción con el producto*/ 

.titulo-stars-fav{
    border: 1px solid;
}

.titulo-producto{
    border: 1px solid;
    text-align: center;
    font-size: 60px;
    margin: 20px 5px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

.titulo-stars{
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.stars {
    color: #ECAC44; /* Color de las estrellas */
    font-size: 50px; /* Tamaño de las estrellas */
    display: flex;
    justify-content: center;
}

    
.precio-envio{
    display: flex;
    border: 1px solid;
    font-size: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

.precio-envio .envio{
    font-size: 25px;
}

.botones-producto {
    border: 1px solid;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    flex-direction: column;
    align-items: center; /* Centrar verticalmente */
    font-family: 'Open Sans', sans-serif;
}


/* Estilos para los botones de .botones-producto*/
#boton-comprar {
    background-color: #E31B9F;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 100px;
    width: auto;
    margin: 10px 0px; /* Espacio entre los botones */
    cursor: pointer;
    font-size: 20px;
}

#boton-carrito {
    background-color: #ECAC44 ;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 12px 60px;
    width: auto;
    margin: 10px 0px; /* Espacio entre los botones */
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

#boton-comprar:hover{
    background-color: #d3008d;
}

#boton-carrito:hover{
    background-color: #eb9100;
}

.acerca-producto{
    border: 1px solid;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin: 20px;
    text-align: justify;
}

.acerca-producto span{
    font-weight: bold;
    font-size: 30px;
}

.info-extra{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.caracteristicas-producto{
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}
.caracteristicas-producto span{
    font-size: 30px;
}

.info-adicional{
    font-size: 25px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(206, 207, 207);
    width: 100%;
}
.info-adicional span{
    font-size: 30px;
}


