/*Posicion con respecto a navbar y padding*/
.card{
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 10 5px 10px rgba(0.2, 0.2, 0.2, 0.1);
    height:80%;
    width: 80%;

  }
  /*Cuadro de atras de la imagen diseño en estructura*/
  .card::before{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: #E31B9F;
    border-radius: 20px 20px 0 0;
  }
  /*Cuadro de imagen de color rosita diseño*/
  .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 90px;
  }
  /*Tamaño del circulo en donde se coloca la imagen*/
  section .card .image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 3px;
    background: #ECAC44;
  }
  /*Posicion de imagen dentro del cuadro morado*/
  section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  /*Nombre de la seccion*/
  .card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: black ;
  } 
  /*Anchor letra*/
  .name-profession .name{
    font-size: 20px;
    font-weight: 600;
  }



  @media screen and (max-width: 980px){
    #contenedor{
        width: 90%;
    }
    #contenido{
        width: 60%;
    }
    #barra_lateral{
        width:30%;
    }
}