 .container-int{
    background-color: white;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    

}

.carouselExampleCaptions{
    width: 400px;
    height: 200px;
}

.carousel-container {
    width: 80%; /* Ancho del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    border-radius: 20px; /* Bordes redondos */
    overflow: hidden; /* Evitar que las esquinas de las imágenes sobresalgan */
  }